<nav class="navbar bg-blue">
  <h1>
    <a routerLink="/">Parrot Wings</a>
  </h1>
  <span *ngIf="auth.isAuthenticated() && user.balance">{{user.username}}. Your Balance: {{user.balance.toFixed(2)}} $</span>
  <ul *ngIf="auth.isAuthenticated()">
    <li routerLinkActive="active">
      <a [routerLink]="['/account', 'dashboard']">My Account</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/account', 'transaction']">New Transfer</a>
    </li>
    <li routerLinkActive="active">
      <a [routerLink]="['/account', 'transactions']">History</a>
    </li>
    <li>
      <a href="#" (click)="logout($event)">Logout</a>
    </li>
  </ul>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>
