<div class="main-container">
    <span class="main-container__header">
      {{greeting}}, {{user.username}}
    </span>
    <span class="available-text">#ID: {{user.id}}</span>
    <div class="main-container__balance">
      <span class="header-balance">Parrot Wings Balance</span>
      <span class="summ-balance" *ngIf="user.balance">{{user.balance.toFixed(2)}} $</span>
      <span class="available-text">Available</span>
      <a href="#" (click)="newTransaction($event)" class="transfer-money-link">Transfer Money</a>
    </div>
</div>
