.main-container{
  display: block;
  color: #2c2e2f;

  &__header{
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-family: Helvetica Neue,Arial,sans-serif;
  }

  &__balance {
    background-color: #f5f7fa;
    border-radius: 4px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
    width: 100%;
    height: 250px;
    margin: 18px 18px 18px 0;
    padding: 1.5rem;

    //padding-bottom: 0;
    position: relative;
    text-align: left;
  }
}

.header-balance {
  padding: 1.125rem 0 .75rem;
  margin: 0;
  font-weight: 400;
  color: #0070ba;
  font-size: 1.17em;
}

.summ-balance {
  color: #2c2e2f;
  display: block;
  font-size: 2.5rem;
  line-height: 3rem;
  font-family: Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  margin-top: 20px;
}

.available-text {
  color: #687173;
  font-size: .8125rem;
  line-height: 1.125rem;
  font-family: Helvetica Neue,Arial,sans-serif;
  font-weight: 400;
  display: block;
  margin-bottom: 20px;
}

.transfer-money-link{
  color: #35A6E1;
  font-size: .8125rem;
  line-height: 1.125rem;
  font-family: Helvetica Neue,Arial,sans-serif;
  font-weight: 700;
  min-width: 3.75rem;
  padding: .3125rem .875rem;
  background: rgba(0,0,0,0);
  border-radius: 1.5rem;
  border: .0625rem solid #35A6E1;
  cursor: pointer;
  display: inline-block;
}

.transfer-money-link:hover{
  border-color: #f5f7fa;
  color: #f5f7fa;
  background: #35A6E1;
}
