form {
  width: 460px;
  margin: 40px auto 0;
  padding: 12px 42px 36px;
  border: 1px solid #eaeced;
  border-radius: 5px;
  overflow: hidden;
}

input{
  height: 44px;
  width: 100%;
  padding: 0 10px;
  border: 1px solid #9da3a6;
  background: #fff;
  text-overflow: ellipsis;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: none;
  color: #000;
  font-size: 1em;
  font-family: Helvetica,Arial,sans-serif;
  font-weight: 400;
  direction: ltr;
}

.logo{
  width: 50%;
  margin: 0 auto 20px auto;
  display: block;
}

.btn-login{
  width: 100%;
  min-height: 44px;
  padding: 0;
  border: 0;
  display: block;
  background-color: #35A6E1;
  box-shadow: none;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  text-align: center;
  font-weight: 700;
  font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  text-shadow: none;
  text-decoration: none;
}

.loginSeparator {
  border-top: 1px solid #cbd2d6;
  position: relative;
  margin: 25px 0 0;
  text-align: center;
}

.loginSeparator .textInSeparator {
  background-color: #fff;
  padding: 0 .5em;
  position: relative;
  color: #6c7378;
  top: -.7em;
}

a.button.secondary,a.button:link.secondary
{
  background-color: #E1E7EB;
  color: #2C2E2F;
  padding: 11px;
}

a.button,a.button:link
{
  appearance: none;
  background-color: #0070ba;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: HelveticaNeue-Medium,"Helvetica Neue Medium",HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1em;
  font-weight: 700;
  min-height: 44px;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  transition: background-color .4s ease-out;
  width: 100%;
}
