<div class="main-bg">
  <div class="cls"></div>
  <a href="#">
    <img class="logo_m" src="../../assets/img/logo.png" alt="Company name" />
  </a>
    <button  routerLink="{{linkLogin}}" class="btn btn-white btn-right">
      Login
    </button>
    <button routerLink="{{linkRegister}}" class="btn btn-blue btn-right">
      Registration
    </button>
  <div class="content_text">
    <h2>24/7</h2>
    <p>Convenient and fast money transfers according to the Parrot Wings transfer money system</p>
  </div>
</div>
